body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
    font-family: 'Kodchasan', sans-serif;
    color: white;
}

p {
    font-family: 'Kodchasan', sans-serif;
    color: wheat;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
}

button {
    font-size: 18px; 
    margin: 10px; 
    background-color: white; 
    color: black; 
    border: none; 
    border-radius: 5px; 
}

button:hover {
    background-color: gray; 
    color: white; 
}